<header>
  <h1>All Reviews</h1>
</header>
<section class="showpage">
<% @reviews.each do |review| %>
<div class="review">
<p class="attribute">Name:</p>
<h3><%= review.title %></h3>
<p class="attribute">Rating:</p>
<h3><%= review.rating %></h3>
<p class="attribute">Content:</p>
  <h3><%= review.content %></h3>
<p class="attribute">Image:</p>
  <h3><%= review.picture %></h3>
</div>
<% end %>
</section>
